div.roulette_container {
	width: fit-content;
	height:fit-content;
	margin:auto;
	background-color: rgb(174, 232, 245);
	border: 10px solid var(--blueButton);
	border-radius: 20px;
	box-shadow: inset 0px 10px 10px rgb(85, 107, 150),inset -0px -10px 10px rgb(85, 107, 150);
}
#RuletaCateg{
	/* display: none; */
	border-radius: 25px;
	transition: display 0.2s ease;
	height: 450px;
	background:var(--menuBckGradient);
	z-index: 100;
	position: absolute;
	width: 600px;
	left: 30%;
	top: 20%;
}
#RuletaCateg > .titulo{
	padding: 25px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 10px black;
}
#RuletaCateg > .girar > button{
	border-radius: 10px;
	border: none;
	background: var(--blueButton);
    color: white;
    font-size: 30px;
    position: relative;
    text-align: center;
    width: 20%;
    left: 40%;
	margin: 20px 0;
    height: 50px;
	outline: none;
}
#RuletaCateg > .girar > button:hover{
	cursor: pointer;
	outline: none;
	background: var(--blueButtonHover);

}

#RuletaCateg > .girar > .respRul{
	color: white;
	font-size: 40px;
	margin: 10px;
	text-align: center;
	text-shadow: 1px 1px 10px black;
}








#Dado{
	display: none;
	transition: display 0.2s ease;
	height: 400px;
	background:var(--menuBckGradient);
	border-radius: 15px;
	z-index: 100;
	position: absolute;
	width: 600px;
	left: 30%;
	top: 20%;
}
#Dado .roulette img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
#Dado > .titulo{
	padding: 25px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 5px black;
}
#Dado > .Tirar > button{
	border-radius: 10px;
	border: none;
	background: var(--blueButton);
    color: white;
    font-size: 30px;
    position: relative;
    text-align: center;
    width: 20%;
    left: 40%;
	margin: 20px 0;
    height: 50px;
	outline: none;
}
#Dado > .Tirar > button:hover{
	cursor: pointer;
	outline: none;
	background: var(--blueButtonHover);
}

#Dado > .Tirar > .respRul{
	color: white;
	font-size: 40px;
	margin: 10px;
	text-align: center;
	text-shadow: 1px 1px 10px black;
}
