<div class="leftCol">
    <div class="playersContainer">
        <div id="botonesJugadores">
            <div class="player" id="player1">
                <div class="playerImg"><img src="" alt=""></img></div>
                <input type="text" class="playerTxt" maxlength="8" placeholder="Player 1" value="">
            </div>
        </div>
        <div id="newPlayer">
            <span>+</span>
            <span>Agregar Jugador</span>
        </div>
    </div>
    <div class="playButton">
        <div class="generalButtonOut" id="jugarFinal">
            <div class="generalButtonIn">
                <span>JUGAR</span>
            </div>
        </div>
    </div>
</div>
<div class="rightCol">
    <div id="charOpts">
    </div>
    <div id="characterContainer">
        <div id="divElegir">
            <p >
              Eligir para
            </p>
            <div id="btn-P1" class="btn-elegir">
              P 1
            </div>
            <div id="btn-P2" class="btn-elegir">
              P 2
            </div>
            <div id="btn-P3" class="btn-elegir">
              P 3
            </div>
            <div id="btn-P4" class="btn-elegir">
              P 4
            </div>
        </div>
        <div id="scene">
            <div></div>
        </div>
        <div id="charAñadir">
          <span>+</span>
        </div>
        <div id="charDescrip">
            <div></div>
        </div>
        <div id="charImg">
            <img id="avatarImgDescr"src="./statics/img/cagumago.png" alt="Cangumago">
        </div>
    </div>
</div>
