<div class="leftCol">
    <div class="playersContainer">
        <div id="botonesJugadores">
            <div class="player" id="player1">
                <div class="playerImg"></div>
                <input type="text" class="playerTxt" maxlength="8" placeholder="Player 1" value="">
            </div>
        </div>
        <div id="newPlayer">
            <span>+</span>
            <span>Agregar Jugador</span>
        </div>
    </div>
    <div class="playButton">
        <div class="generalButtonOut" id="jugarFinal">
            <div class="generalButtonIn">
                <span>JUGAR</span>
            </div>
        </div>
    </div>
</div>
<div class="rightCol">
    <div class="charOpts">
        <div id="char1">
            <img src="./statics/img/cangumago.png" alt="">
        </div>
        <div id="char2">
            <img src="./statics/img/michibot3.png" alt="">
        </div>
        <div id="char3">
            <img src="./statics/img/cangumago.png" alt="">
        </div>
        <div id="char4">
            <img src="./statics/img/michibot3.png" alt="">
        </div>
    </div>
    <div id="characterContainer">
        <div id="scene">
            <div></div>
        </div>
        <div id="charImg">
            <img src="./statics/img/cagumago.png" alt="">
        </div>
        <div id="charInfo">
            <span>+</span>
        </div>
    </div>
</div>
