<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/index.css">
    <link rel="stylesheet" href="../statics/css/juego.css">
    <title>Document</title>
</head>
<body>
    <div id="playersContainer">
        <div id="playerCards">
            <div class="player">
                <div class="corona"></div>
                <div class="playerImg"><img src="" alt=""></img></div>
                <p class="nickname">Juanitoblba</p>
                <p class="points">80 pts</p>
            </div>
        </div>
    </div>
    <div id="boardContainer">
        <div id="gameScreen">
            <div id="board"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../libs/roulette.js-master/roulette.js"></script>
    <script src="../js/functions.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/juego.js"></script>
</body>
</html>